<div class="card" style="width: 20rem;">
    <div class="card-header">LiveMPK</div>
    <div class="card-body">
      <app-line-picker></app-line-picker>
      <h5 class="card-title">Ustawienia:</h5>
      <button class="btn btn-outline-primary mr-1 mb-1 btn-sm" (click)="reload()">Odśwież położenie</button>
      <button class="btn btn-outline-primary mr-1 mb-1 btn-sm" (click)="startAutoRefresh()">Uruchom autoodświeżanie</button>
      <button class="btn btn-outline-primary mr-1 mb-1 btn-sm" (click)="stopAutoRefresh()">Zatrzymaj autoodświeżanie</button>
    </div>


  </div>